body {
    background-color: antiquewhite;
    font-family:Arial, Helvetica, sans-serif
}

#redirect{
    text-align:center;
}

h3{
    background-color:burlywood;
}

#intro {
    margin-top: 100px;
    text-align:center;
}

.errorMessages{
    color:red;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#ImageContainer {
    width: 750px;
    height: 500px;
    border: 2px solid black;
    grid-row-start: 1;
    grid-row-end: 3;
}

#News {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    grid-column-start: 2;
    grid-column-end: 2;

    text-align: center;
}

#Locations {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    grid-column-start: 2;
    grid-column-end: 2;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../Images/Map.JPG');
}




/*These next seven entries handle the CSS for the Header and Footer Menus*/
li.Header {
    float: left;
}

li.Header2 {
    float: right;
}

li a.HeaderListEntry {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}


ul#Header {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    position: absolute;
    left:0;
    top:0;
    width: 60%;
}

ul#Header2 {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
}

ul#Footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 60%;
}

ul#FooterRight {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60%;
}